
<div class="container">

    <h2>Edit Page</h2>

    <form name="editForm" novalidate >

        <!-- con.name --> 
        <div class="form-group row" 
                ng-class="{ 'has-error' : editForm.name.$invalid && editForm.name.$touched }">
            <label for="name" class="col-md-2">Product name</label>
            <div class="col-md-10">
                <input type="text" id="name" name="name" 
                        class="form-control"
                        ng-model="con.name"
                        required >
                <div class="help-block" ng-messages="editForm.name.$error" 
                        ng-if="editForm.name.$touched">
                    <p ng-message="required">Product name required</p>
                </div>
            </div>
        </div>

        <!-- con.brand --> 
        <div class="form-group row" 
                ng-class="{ 'has-error' : editForm.brand.$invalid && editForm.brand.$touched }">
            <label for="brand" class="col-md-2">Product brand</label>
            <div class="col-md-4">
                <input type="text" id="brand" name="brand" 
                        class="form-control"
                        ng-model="con.brand"
                        required >
                <div class="help-block" ng-messages="editForm.brand.$error" 
                        ng-if="editForm.brand.$touched">
                    <p ng-message="required">Product brand required</p>
                </div>
            </div>
        </div>

        <!-- con.upc12 --> 
        <div class="form-group row" 
                ng-class="{ 'has-error' : editForm.upc12.$invalid && editForm.upc12.$touched }">
            <label for="upc12" class="col-md-2">Product upc12</label>
            <div class="col-md-4">
                <input type="text" id="upc12" name="upc12" 
                        class="form-control"
                        ng-model="con.upc12"
                        required >
                <div class="help-block" ng-messages="editForm.upc12.$error" 
                        ng-if="editForm.upc12.$touched">
                    <p ng-message="required">Product upc12 required</p>
                </div>
            </div>
        </div>

        </br></br>
         <button class="btn btn-danger" ng-click=con.editItem()
                ng-disabled="editForm.$invalid">
            Edit Item
         </button>

         <a ui-sref="search" class="btn btn-success">Go Back</a>

    </form>

</div>