<div class="container">
    <h1>Search For Groceries</h1>

    <form name="searchForm" novalidate>
        <div class="form-group row">
            <label for="name" class="col-md-2">Product Name</label>
            <div class="col-md-4">
                <input type="text" name="name" id="name" 
                        class="form-control"
                        ng-model="con.name">
            </div>
        </div>

        <div class="form-group row">
            <label for="brand" class="col-md-2">Product Brand</label>
            <div class="col-md-4">
                <input type="text" name="brand" id="brand" 
                        class="form-control"
                        ng-model="con.brand">
            </div>
        </div>

        </br>
        <button class="btn btn-success" ng-click="con.searchOr()">
            Search either name or brand
        </button>
        <button class="btn btn-info" ng-click="con.searchAnd()"                                 ng-disabled="con.brand.length === 0 || con.name.length === 0" >
            Search both name and brand
        </button>

    </form><!-- end searchForm -->

    <hr>
    
    <!-- table only shows if searched -->
    <table ng-if="con.searched">
        <thead>
            <tr align="center">
                <th style="padding: 20px 20px 20px 0">Product Brand</th>
                <th style="padding: 20px 60px 20px 0">Product Name</th>
                <th style="padding: 20px 60px 20px 0">Edit</th>
                <th style="padding: 20px 60px 20px 0">Product Barcode</th>
            </tr>
            <tr></tr>
        </thead>
        <tbody>
            <tr ng-repeat="each in con.groceries" style="padding: 30px">
                <td>{{ each.brand }}</td>
                <td style="width: 300px; padding: 20px">{{ each.name }}</td>
                <td>
                    <a ui-sref="editItem({id : each.id })" class="btn btn-success">Edit</a>
                    <!-- can simply style a tag as button -->
                    <!-- test if this syntax works first --> 
                </td>
                <td style="padding: 20px">
                    <img ng-src="{{ con.produceImg(each.upc12) }}">
                </td>
            </tr>
        </tbody>
    </table>



</div>